

h1 {
	position: relative;	
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  background: rgb(220,160,140);
  background: rgba(220,160,140,0);
  color: black;
  text-decoration: underline;
}

h2 {
  position: relative;	
  font-size: 150%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 0em;
  color: black;
  text-decoration:unset;
  text-decoration-color: blue;
}
h2 span {
  position: relative;

}


.rotate90 {
  transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}

.rotate180 {
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

p.backside {
  background-color: cyan; 
  color: black;

}


nav li {

  display: inline-flex;

}



p.index {
  color: blue;
  font-style: italic;
  font-family: "Arial Black", Gadget, serif;
  font-size: 100%;
  top: 15em;
  left: 5em;
}

p.outwardtravel {
  color: green;
  font-style: italic;
  font-family: Impact, Charcoal, serif;
  font-size: 100%;
  top: 15em;
  left: 5em;  
}

p.skansen {
  font-style: italic;
  font-family: "Lucida Console", Monca, serif;
  font-size: 100%;	
  color: blue;
  top: 15em;
  left: 5em;   
}

p.sandhamn {
  color: black;
  font-style: italic;
  font-family: "Comic sans MS", cursive, serif;
  font-size: 100%;		
  top: 15em;
  left: 5em;   
}

p.city {
  color: cyan;
  font-style: italic;
  font-size: 100%;
  font-family: "Comic sans MS", cursive, serif;
  top: 15em;
  left: 5em;

}


p {
	color: grey;
	font-style: italic;
  text-align: center;
	font-family:"Comic sans MS", cursive, serif;
	font-size: medium;
	margin: 30px;
	border-style: groove;
	border-color: red;
	border-width: 5px;

}


body {

padding:3em 0 7em;

background-image: url("picture/Flagge_Schweden.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;


}

header {
  position: fixed;
  padding: 10px;

  background-color: blue;
  margin-top:  5px;
  margin-right: 5em;
  margin-left: 50em;
}

footer {  
  position: fixed;
  padding: 10px;

  color: white;
  background-color: blue;
  left: 15em;
  right: 5em;

}

